@import 'bourbon/bourbon';

html, body {
  background-image: url("assets/images/wheel-of-fortune.jpeg");
  font-color: #faebd7;
}

button {
  background-color: black;
}

input {
  color: black;
}

.guesses, #lives, .play-again, form, .wheel{
  display: none;
}

.space {
  height: 50px;
  width: 50px;
  margin: 10px;
  opacity: 0;
}

.letter  {
  height: 50px;
  width: 50px;
  margin: 10px;
  background-color: black; 
}

.not-letter  {
  height: 50px;
  width: 50px;
  margin: 10px;
}

#gameboard {
}

@for $i from 0 through 100 {
  #letter-#{$i} {display: inline-block; color: black; vertical-align: baseline; float: none; font-size: 25px;}
}
